.info {
  margin-bottom: 8px;
}

.bigImg{
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0 ;
}

.avatar {
  background-color: #424242;
  border-radius: 7px;
  padding: 10px;
  max-height: 230px;
}

.avatar > .img {
  width: 100%;
  padding-bottom: 10px;
}

.editButton {
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #828282;
  color: white;
  padding: 5px;
}

.editButton:disabled {
  background-color: #5e5a5a;
}

.editButton:focus, .editButton:hover {
  background-color: #5e5a5a;
}

.followButton {
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #828282;
  color: white;
  padding: 5px;
}

.followButton:focus, .followButton:hover {
  background-color: #5e5a5a;
}

.name__wrapper {
  border-bottom: solid 1px gray;
}

.status {
  color: gray;
  padding-bottom: 10px;
}

.mainInfo{
  border-bottom: solid 1px gray;
  padding: 10px 0 ;
}

.contacts{
  padding-top: 10px;
}

.name {
  font-size: 25px;
  color: white;
}

.desc {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
}

.desc .info { 
  width: 100%;
  background-color: #424242;
  border-radius: 7px;
  padding: 10px;
}

.dataItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 8px;
}

.dataItem span{
  color: gray;
}

.dataItem div{
  color: white;
}

.contacts .dataItem {
  display: flex;
  flex-direction: column;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 8px;
}

.contact a{
  color: white;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.formInfo{
  border-bottom: solid 1px gray;
  padding: 10px 0 ;
}

.formItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 8px;
}

.formItem span{
  color: gray;
}

.form button {
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #828282;
  color: white;
  padding: 5px;
}

.form button:focus, .form button:hover {
  background-color: #5e5a5a;
}

.formContacts {
  padding: 10px 0 ;
  color: gray;
}

.formContact{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 8px;
}

.form input {
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: #424242;
  border: solid gray 1px;
  color: white;
}

.form textarea {
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: #424242;
  border: solid gray 1px;
  color: white;
}

.status input {
  padding: 5px;
  border: none;
  border-radius: 7px;
}

.error {
  color: red;
}

.error input,
.error textarea
{
    border: solid red 1px
}

.noContactInfo {
  color: gray;
  font-size: 23px;
  margin: auto auto;
}