.post {
    border-bottom: solid 1px gray;
    padding: 10px 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}

.avatar {
    height: 40px;
    border-radius: 30px;
    margin-right: 15px;
    
}

.message {
    color: white;
    margin-right: 15px;

}

.likes {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
    gap: 2px;
}

.likesImage {
    height: 20px;
    cursor: pointer;
}